@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype"); }

@font-face {
  font-family: "DejaVuSerifCondensed";
  src: url("../fonts/DejaVuSerifCondensed/DejaVuSerifCondensed.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifCondensed/DejaVuSerifCondensed.woff") format("woff"), url("../fonts/DejaVuSerifCondensed/DejaVuSerifCondensed.ttf") format("truetype"); }

@font-face {
  font-family: "DejaVuSerifBold";
  src: url("../fonts/DejaVuSerifBold/DejaVuSerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/DejaVuSerifBold/DejaVuSerifBold.woff") format("woff"), url("../fonts/DejaVuSerifBold/DejaVuSerifBold.ttf") format("truetype"); }

@font-face {
  font-family: "svgicon";
  src: url("../fonts/svgicon/svgicon.eot?#iefix") format("embedded-opentype"), url("../fonts/svgicon/svgicon.woff") format("woff"), url("../fonts/svgicon/svgicon.ttf") format("truetype"), url("../fonts/svgicon/svgicon.svg#svgicon") format("svg"); }

h1,
.h1 {
  font-family: 'DejaVuSerifCondensed';
  font-size: 32px;
  color: #1d1d1d; }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-weight: normal;
  text-transform: uppercase;
  color: #1d1d1d; }

h2,
.h2 {
  font-size: 22px; }

h3,
.h3 {
  font-size: 16px;
  color: #1d1d1d; }

p {
  margin: 10px 0; }

a {
  color: #ca202e;
  text-decoration: none;
  border-bottom: 1px dashed #ca202e;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    border-bottom: none; }

.btn {
  text-decoration: none;
  text-align: center;
  border: none;
  padding: 11px 5px;
  width: 171px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  transition: all .3s ease;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent; }
  .btn-red {
    background-color: #ca202e;
    color: #fff; }
    .btn-red:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      right: 5px;
      bottom: 5px;
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      border: 1px dashed #ffffff;
      -webkit-border-radius: 24px;
      border-radius: 24px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      opacity: 0; }
    .btn-red:hover:after {
      opacity: 1; }
    .btn-red:active {
      -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.18);
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.18); }
  .btn-white {
    border: 1px solid #ca202e;
    color: #ca202e; }
    .btn-white:hover {
      border: 1px dashed #ca202e; }
    .btn-white:active {
      -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.18);
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.18); }

.home__page header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10; }

.header__top {
  background-color: rgba(238, 207, 186, 0.6);
  padding: 5px 0; }
  .header__top a {
    text-decoration: none;
    border-bottom: none;
    color: #1f2d30; }
    .header__top a:hover {
      text-decoration: underline; }

.header__price {
  float: left; }

.header__signin {
  float: right; }
  .header__signin a {
    position: relative; }
    .header__signin a + a {
      padding-left: 10px; }
      .header__signin a + a:before {
        content: '';
        position: absolute;
        left: 2px;
        height: 70%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 1px;
        background: #383e3d; }

.header__phone a {
  color: #1f2d30;
  border-bottom: none; }
  .header__phone a + a {
    margin-left: 7px; }

.basket__count {
  color: #6a6861;
  position: relative;
  padding: 5px 0; }
  .basket__count:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    background-color: #bfbfbf; }

.header__basket__link {
  border-bottom: none;
  position: relative;
  display: block; }
  .header__basket__link:hover .hidden__info__basket {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    left: 0;
    opacity: 1; }

.basket__text {
  display: block;
  padding: 5px 0; }
  .basket__text i,
  .basket__text span {
    display: inline-block;
    vertical-align: middle; }
  .basket__text i {
    font-size: 21px; }

.hidden__info__basket {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ca202e;
  width: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 5px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 16;
  top: 30px;
  opacity: 0;
  left: -150px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

.show__basket,
.show__save__basket {
  font-size: 13px;
  color: #fff;
  display: block;
  line-height: 18px; }
  .show__basket:hover,
  .show__save__basket:hover {
    text-decoration: underline; }

.show__save__basket {
  margin-top: 15px;
  position: relative; }
  .show__save__basket:before {
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: -7px;
    border-bottom: 1px dashed #fff; }

.header__information {
  padding: 15px 0 8px;
  border-bottom: 1px solid #cf9f9a;
  background: #fff; }

.header__information__data {
  float: left; }

.header__information__basket {
  float: right;
  margin-top: 15px; }

.header__information__basket .header__btn,
.header__information__basket .header__basket {
  display: inline-block;
  vertical-align: middle; }

.header__basket {
  margin-left: 35px; }

.header__menu {
  position: relative;
  background: #fff; }
  .header__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }

.mobile__left__icon a {
  border-bottom: none;
  font-size: 18px;
  color: #cf9f9a; }

.mobile__left__icon + .mobile__left__icon {
  margin-left: 10px; }

.mobile__home__page a {
  font-size: 22px; }

.header__menu__left {
  float: left; }
  .header__menu__left > ul > li:first-child a {
    font-size: 20px; }

.header__menu__right {
  float: right; }
  .header__menu__right ul {
    margin-right: 15px; }
  .header__menu__right > ul,
  .header__menu__right .header__seearch {
    display: inline-block;
    vertical-align: middle; }

.header__seearch {
  cursor: pointer; }
  .header__seearch.active i {
    color: #cf9f9a; }
  .header__seearch i {
    font-size: 19px; }

.header__menu__list {
  position: relative;
  z-index: 15; }
  .header__menu__list li {
    position: relative; }
    .header__menu__list li:hover > a:after {
      width: 100%; }
    .header__menu__list li:hover > ul {
      -webkit-transform: translateX(-50%) scale(1);
      -ms-transform: translateX(-50%) scale(1);
      transform: translateX(-50%) scale(1); }
  .header__menu__list > ul ul {
    position: absolute;
    white-space: nowrap;
    left: 50%;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #eecfba;
    padding: 25px;
    margin: 0;
    top: 100%;
    list-style-type: none;
    overflow: hidden;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 70px;
    -moz-column-gap: 70px;
    column-gap: 70px;
    -webkit-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .header__menu__list > ul ul li {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 14px; }
      .header__menu__list > ul ul li + li {
        margin-top: 10px; }
      .header__menu__list > ul ul li a {
        border-bottom: none;
        color: #1f2d30;
        padding-left: 15px;
        position: relative;
        border-bottom: 1px solid transparent; }
        .header__menu__list > ul ul li a:hover {
          border-bottom: 1px solid #1f2d30; }
        .header__menu__list > ul ul li a:before {
          content: '';
          position: absolute;
          left: 0;
          top: 8px;
          width: 4px;
          height: 4px;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: #1f2d30; }
  .header__menu__list > ul > li {
    display: inline-block;
    vertical-align: middle; }
    .header__menu__list > ul > li > a {
      border-bottom: none;
      display: block;
      padding: 14px 0;
      position: relative;
      color: #1f2d30; }
      .header__menu__list > ul > li > a:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #eecfba;
        width: 0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
    .header__menu__list > ul > li + li {
      margin-left: 30px; }

.logo__link {
  border-bottom: none;
  display: block;
  position: relative;
  z-index: 4; }

.header__logo {
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }
  .header__logo:after {
    content: '';
    position: absolute;
    width: 130%;
    height: 86%;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    bottom: -20px;
    left: -15%;
    right: -15%; }

.header__search {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #cf9f9a;
  padding: 30px 20px;
  z-index: 10;
  position: absolute;
  right: 0;
  left: 0;
  top: 100%;
  display: none; }

.header__search__form {
  position: relative; }
  .header__search__form input,
  .header__search__form label {
    display: block;
    width: 100%; }

.form__row input {
  -webkit-border-radius: 24px;
  border-radius: 24px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 20px;
  border: none;
  outline: none;
  padding-right: 50px; }

.form__row.submit {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .form__row.submit label {
    font-size: 23px;
    color: #1f2d30;
    cursor: pointer; }
  .form__row.submit input {
    display: none; }

.close__menu {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  cursor: pointer; }
  .close__menu i {
    font-size: 16px; }

.header__mobile__menu,
.mobile__left__menu {
  display: none; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'svgicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-tel:before {
  content: "\e914"; }

.icon-zamok:before {
  content: "\e915"; }

.icon-signin:before {
  content: "\e916"; }

.icon-close:before {
  content: "\e912"; }

.icon-burger:before {
  content: "\e913"; }

.icon-basket:before {
  content: "\e911"; }

.icon-loop:before {
  content: "\e900"; }

.icon-dog:before {
  content: "\e901"; }

.icon-anchor:before {
  content: "\e902"; }

.icon-model:before {
  content: "\e903"; }

.icon-decor:before {
  content: "\e904"; }

.icon-arr-left:before {
  content: "\e905"; }

.icon-house:before {
  content: "\e906"; }

.icon-medal:before {
  content: "\e907"; }

.icon-odn:before {
  content: "\e908"; }

.icon-phone:before {
  content: "\e909"; }

.icon-procent:before {
  content: "\e90a"; }

.icon-thumb:before {
  content: "\e90b"; }

.icon-time:before {
  content: "\e90c"; }

.icon-vk:before {
  content: "\e90d"; }

.icon-arr-right:before {
  content: "\e90e"; }

.icon-box:before {
  content: "\e90f"; }

.icon-car:before {
  content: "\e910"; }

.slider__item {
  text-align: center; }

.slider__item__title {
  margin-bottom: 100px; }
  .slider__item__title p {
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    line-height: 1.3; }

.slider__item__diskount {
  font-size: 99px;
  text-transform: uppercase;
  text-shadow: 0 0 26px rgba(0, 0, 0, 0.11);
  color: #fff;
  font-family: 'DejaVuSerifBold';
  line-height: 1.3;
  position: relative; }
  .slider__item__diskount:before {
    content: "\e904";
    position: absolute;
    left: 50%;
    top: -65px;
    font-family: 'svgicon';
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #eecfba;
    font-size: 44px; }

.slider__item__btn {
  margin-top: 40px; }
  .slider__item__btn .btn {
    border: 1px solid #ffffff;
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 220px; }
    .slider__item__btn .btn:hover {
      border-style: dashed; }

.slider__main {
  height: 870px;
  position: relative; }
  .slider__main .slider__main__wrapper,
  .slider__main .owl-stage-outer,
  .slider__main .owl-stage,
  .slider__main .owl-item,
  .slider__main .slider__item {
    height: 100%; }

.slider__item {
  background-position: bottom center;
  -webkit-background-size: cover;
  background-size: cover; }
  .slider__item .container {
    height: 100%;
    display: table; }

.home__page .slider__item .container {
  padding-top: 200px; }

.container__cell {
  display: table-cell;
  vertical-align: middle; }

.slider__item__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border-bottom: none; }

.slider__main__wrapper {
  position: relative; }
  .slider__main__wrapper .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 1000px;
    margin: 0 auto;
    top: 60%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .slider__main__wrapper .owl-nav > div {
      position: absolute; }
      .slider__main__wrapper .owl-nav > div span {
        color: #bfbfbf;
        font-size: 24px; }
    .slider__main__wrapper .owl-nav .owl-prev {
      left: 0; }
    .slider__main__wrapper .owl-nav .owl-next {
      right: 0; }

.noveltie__item {
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.14);
  box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.14);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eecfba;
  position: relative; }
  .noveltie__item:hover .slider__warning__registr {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.noveltie__item__link {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-bottom: none; }

.title__page {
  text-align: center; }
  .title__page .h4 {
    font-size: 32px;
    text-transform: uppercase;
    color: #1d1d1d;
    margin: 15px 0;
    font-family: 'DejaVuSerifCondensed';
    line-height: 32px; }

.noveltie__item__btn {
  margin-bottom: 15px; }
  .noveltie__item__btn .btn {
    display: inline-block; }
    .noveltie__item__btn .btn:hover {
      border-bottom: 1px solid #ca202e; }

.noveltie__item__content {
  padding: 10px;
  border-top: 8px solid #eecfba; }

.novelties__main {
  padding: 30px 0;
  background: url(../img/pattern.png) repeat;
  position: relative;
  margin-bottom: 20px;
  margin-top: -20px;
  position: relative;
  -webkit-box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 25px 10px rgba(0, 0, 0, 0.1); }
  .novelties__main:after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    width: 100%;
    background: url(../img/white__pattern.png) repeat;
    height: 15px; }
  .novelties__main .owl-dots {
    text-align: center;
    width: 120px;
    margin: 0 auto; }
  .novelties__main .owl-dot {
    width: 13px;
    height: 13px;
    background-color: #bfbfbf;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle; }
    .novelties__main .owl-dot.active {
      background-color: #ca202e; }
    .novelties__main .owl-dot + .owl-dot {
      margin-left: 6px; }

.noveltie__item__img {
  height: 175px;
  overflow: hidden; }
  .noveltie__item__img img {
    display: block; }

.noveltie__item__title {
  margin: 10px 0; }

.noveltie__item__price {
  margin: 20px 0; }

.slider__warning__registr {
  position: absolute;
  top: 98%;
  width: 170px;
  margin: 0 auto;
  left: 0;
  right: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ca202e;
  color: #fff;
  padding: 10px 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  z-index: 5;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

.slider__warning__text {
  display: block;
  text-align: center;
  line-height: 18px; }

.slider__warning__navigation {
  display: block;
  text-align: center;
  margin-top: 10px;
  position: relative;
  z-index: 10; }
  .slider__warning__navigation .signin,
  .slider__warning__navigation .registration {
    color: #fff;
    border-bottom: none;
    text-decoration: underline;
    position: relative; }
  .slider__warning__navigation .signin {
    position: relative;
    margin-right: 15px; }
    .slider__warning__navigation .signin:after {
      content: '';
      position: absolute;
      right: -10px;
      height: 80%;
      top: 10%;
      bottom: 10%;
      width: 1px;
      background: #fff; }

.novelties__wrapper {
  margin: 40px 0 0; }
  .novelties__wrapper .owl-dots {
    margin-top: -60px;
    position: relative;
    z-index: 1; }
  .novelties__wrapper .owl-stage-outer {
    padding-bottom: 90px; }

.production__main {
  background-color: #fff;
  padding: 20px 0 40px;
  position: relative; }

.rectangle__top {
  position: absolute;
  left: 0;
  width: 163px;
  height: 572px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eecfba;
  opacity: 0.35;
  top: -150px; }
  .rectangle__top:after {
    content: '';
    position: absolute;
    width: 211px;
    height: 290px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(233, 233, 235, 0.5);
    left: 50px;
    bottom: -180px; }
  .rectangle__top:before {
    content: '';
    position: absolute;
    border: 2px dashed #af5f56;
    opacity: 0.35;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    right: 20px;
    top: 20px;
    bottom: 20px;
    width: 100%; }

.rectangle__bottom {
  position: absolute;
  width: 140px;
  height: 290px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eecfba;
  opacity: 0.35;
  right: 0;
  bottom: 70px;
  z-index: 1; }
  .rectangle__bottom:after {
    content: '';
    position: absolute;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 2px dashed #af5f56;
    opacity: 0.35;
    position: absolute;
    left: 20px;
    top: 20px;
    bottom: 20px;
    width: 120px;
    border-right: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.subtitle__page {
  max-width: 460px;
  margin: 0 auto;
  font-size: 14px;
  color: #6c6c6c;
  margin-top: 30px; }

.production__main__column {
  float: left;
  width: 235px; }
  .production__main__column + .production__main__column {
    margin-left: 20px; }

.small__height {
  height: 241px; }

.big__height {
  height: 345px; }

.production__main__item__wrapper {
  display: block;
  position: relative;
  height: 100%;
  border-bottom: none;
  padding: 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease; }
  .production__main__item__wrapper .icon-decor {
    color: #eecfba; }
  .production__main__item__wrapper .production__main__item__content {
    position: absolute;
    left: 20px;
    right: 20px; }
  .production__main__item__wrapper span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 19px rgba(0, 0, 0, 0.22);
    line-height: 24px;
    min-height: 48px; }

.production__main__item {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative; }
  .production__main__item:hover .production__main__item__wrapper {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  .production__main__item:hover .production__main__item__link {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
  .production__main__item.top .production__main__item__content {
    top: 78px; }
  .production__main__item.bottom .production__main__item__content {
    bottom: 93px; }
  .production__main__item:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 5px;
    top: -5px;
    background: #eecfba;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0; }
  .production__main__item + .production__main__item {
    margin-top: 30px; }

.production__main__wrapper {
  margin-top: 45px;
  padding-bottom: 40px; }

.production__main__item__link {
  position: absolute;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  background-color: #eecfba; }
  .production__main__item__link ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    left: 0;
    right: 0; }
  .production__main__item__link li + li {
    margin-top: 5px; }
  .production__main__item__link a {
    border-bottom: none;
    color: #5b4444;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    position: relative; }
    .production__main__item__link a:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background: #5b4444; }
    .production__main__item__link a:hover {
      color: #ca202e; }
      .production__main__item__link a:hover:after {
        background: #ca202e; }

.production__main__item__wrapper {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center; }

.production__main__bottom__text p {
  color: #1d1d1d;
  margin: 25px 0; }

.see__more__btn {
  text-align: center;
  margin-bottom: 30px; }
  .see__more__btn .btn {
    display: inline-block;
    width: 217px; }

.advantages__main__img {
  position: absolute; }

.advantages__main {
  padding: 10px 0;
  background: rgba(233, 233, 235, 0.38);
  position: relative; }
  .advantages__main:after {
    content: '';
    position: absolute;
    width: 211px;
    height: 572px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color: #e9e9eb;
    opacity: 0.35;
    right: 60px;
    top: -150px;
    z-index: 1; }
  .advantages__main:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background: url(../img/blue__pattern.png) repeat;
    height: 10px;
    top: -10px; }
  .advantages__main .subtitle__page {
    max-width: 700px; }

.advantages__main__wrapper {
  position: relative;
  margin-top: 65px; }

.advantages__main__img {
  position: absolute;
  left: 48%;
  top: 20px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.advantages__main__item {
  color: #b46c64; }
  .advantages__main__item.personal {
    width: 350px; }
  .advantages__main__item.delivery {
    width: 280px; }
  .advantages__main__item.price {
    width: 285px; }
    .advantages__main__item.price .text {
      position: relative;
      top: 15px; }
  .advantages__main__item.model {
    width: 360px; }
  .advantages__main__item.quality {
    width: 375px; }
  .advantages__main__item.zayavka {
    width: 310px; }
  .advantages__main__item.minimum {
    width: 292px; }
  .advantages__main__item.zakaz {
    width: 385px; }
  .advantages__main__item .text p {
    line-height: 24px; }
  .advantages__main__item .img__wrap,
  .advantages__main__item .text {
    display: inline-block;
    vertical-align: middle; }
  .advantages__main__item .img__wrap {
    width: 86px;
    height: 86px;
    position: relative;
    border: 1px dashed #af5f56;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .advantages__main__item .img__wrap i {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-size: 40px; }

.advantages__main__left,
.advantages__main__right {
  width: 380px; }
  .advantages__main__left .img__wrap,
  .advantages__main__right .img__wrap {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
    .advantages__main__left .img__wrap:hover,
    .advantages__main__right .img__wrap:hover {
      background-color: #b56e66; }
      .advantages__main__left .img__wrap:hover i,
      .advantages__main__right .img__wrap:hover i {
        color: #fff; }
  .advantages__main__left .advantages__main__item,
  .advantages__main__right .advantages__main__item {
    height: 90px;
    margin-bottom: 50px; }
    .advantages__main__left .advantages__main__item p,
    .advantages__main__right .advantages__main__item p {
      margin-top: 0; }

.advantages__main__left {
  float: left; }
  .advantages__main__left .advantages__main__item .img__wrap {
    float: right; }
  .advantages__main__left .advantages__main__item .text {
    float: left; }

.advantages__main__right {
  float: right; }
  .advantages__main__right .advantages__main__item {
    float: right; }
    .advantages__main__right .advantages__main__item .img__wrap {
      float: left; }
    .advantages__main__right .advantages__main__item .text {
      float: right;
      text-align: right; }

.consultation__main {
  padding: 30px 0;
  background: url("../img/pattern__red.png") repeat;
  position: relative;
  height: 340px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  margin-top: 7px; }
  .consultation__main:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 26px;
    background: url(../img/pattern__line.png) repeat; }
  .consultation__main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: url("../img/val__pattern.png") repeat; }
  .consultation__main .title__page > * {
    color: #fff; }
  .consultation__main .subtitle__page {
    margin-top: 25px;
    max-width: 100%;
    font-size: 16px; }

.form__block__inline {
  width: 370px;
  display: inline-block;
  vertical-align: middle; }
  .form__block__inline + .form__block__inline {
    margin-left: 20px; }
  .form__block__inline.btn__send {
    width: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .form__block__inline.btn__send .btn {
      width: 100%;
      cursor: pointer;
      padding-top: 14px;
      padding-bottom: 14px;
      background: transparent;
      border: 1px solid #fff;
      color: #fff;
      outline: none; }
      .form__block__inline.btn__send .btn:hover {
        border: 1px dashed #fff; }
  .form__block__inline input {
    display: block;
    width: 100%;
    background-color: #ffffff;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    outline: none; }

.form__consultation__wrapper {
  margin: 55px 0 25px; }

.politics__confid {
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-top: 35px; }
  .politics__confid a {
    color: #fff;
    text-decoration: underline;
    border-bottom: none; }

.form__consultation {
  margin: 20px 0; }

footer {
  background-color: #423124;
  padding: 22px 0 0; }

.footer__logo__info {
  text-align: center;
  color: #fff;
  width: 170px;
  margin-right: 55px;
  border-right: 1px solid rgba(248, 248, 248, 0.22);
  padding-right: 45px; }
  .footer__logo__info p {
    color: #adadad;
    font-size: 14px;
    line-height: 18px; }

.social__footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 45px; }
  .social__footer i {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; }
  .social__footer .icon-vk:hover {
    color: #1386bb; }
  .social__footer .icon-dog:hover {
    color: #094fed; }
  .social__footer .icon-odn {
    font-size: 24px; }
    .social__footer .icon-odn:hover {
      color: #f17507; }
  .social__footer li {
    display: inline-block;
    vertical-align: middle; }
    .social__footer li + li {
      margin-left: 8px; }
  .social__footer a {
    border-bottom: none;
    color: #fff;
    font-size: 24px; }

.footer__logo__link {
  border-bottom: none;
  display: block;
  margin-bottom: 15px; }

.footer__menu {
  width: 340px; }
  .footer__menu .active a {
    color: #d5877e; }
  .footer__menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .footer__menu li {
    float: left;
    width: 50%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 12px; }
  .footer__menu a {
    color: #fff;
    border-bottom: none; }
    .footer__menu a:hover {
      text-decoration: underline; }

.footer__data {
  width: 300px;
  text-align: right;
  float: right; }
  .footer__data .btn {
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    width: 189px; }
    .footer__data .btn:hover {
      border: 1px dashed #fff; }

.footer__logo__info,
.footer__menu {
  float: left; }

.footer__data__phone {
  margin: 30px 0; }
  .footer__data__phone p {
    margin: 0; }
  .footer__data__phone a {
    border-bottom: none;
    color: #fff;
    font-size: 24px; }

.footer__data__place {
  color: #fff;
  margin-top: 35px; }

.red__text {
  color: #d3857b; }

.footer__data__email a {
  color: #fff;
  border-bottom: none; }

.footer__politics {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 15px 0;
  text-align: center;
  margin-top: 8px; }
  .footer__politics a {
    color: #fff;
    border-bottom: none; }
    .footer__politics a:hover {
      text-decoration: underline; }

.mobile__copy__info {
  display: none; }

*::-webkit-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
  font-size: 14px; }

*:-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
  font-size: 14px; }

*::-moz-placeholder {
  color: #9e9e9e;
  opacity: 1;
  font-size: 14px; }

*:-ms-input-placeholder {
  color: #9e9e9e;
  opacity: 1;
  font-size: 14px; }

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

body {
  position: relative;
  font-size: 16px;
  color: #1d1d1d;
  font-family: 'OpenSansRegular';
  line-height: 24px; }

.anchor {
  position: fixed;
  right: 5%;
  bottom: 5%;
  border-bottom: none;
  z-index: 100;
  width: 40px;
  height: 56px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #eecfba;
  display: none; }
  .anchor:hover {
    background-color: #ff0000; }
    .anchor:hover .icon-anchor {
      color: #fff; }
  .anchor .icon-anchor {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #423124;
    font-size: 32px; }

.see__more,
.header__signin__mobile,
.header__phone__mobile {
  display: none; }

.header__btn i {
  display: none; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1050px) {
  /**/
  body {
    font-size: 14px;
    min-width: 320px; }
  img {
    max-width: 100%;
    height: auto; }
  .container {
    width: 100%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .header__menu__left > ul {
    display: none; }
  .header__menu__right > ul {
    display: none; }
  .header__menu__list {
    padding: 10px 0; }
  .header__logo {
    width: 165px;
    top: 35px; }
    .header__logo:after {
      left: -20%;
      right: -20%;
      width: 140%;
      height: 100%; }
  .header__phone,
  .header__btn {
    font-size: 14px; }
  .header__btn .btn {
    width: 143px; }
  .slider__main {
    height: 480px; }
  .slider__item__title {
    margin-bottom: 30px; }
    .slider__item__title p {
      font-size: 18px; }
  .slider__item__diskount {
    font-size: 56px; }
    .slider__item__diskount:before {
      font-size: 24px;
      bottom: auto;
      top: -25px; }
  .slider__item__btn {
    margin-top: 15px; }
  .slider__main__wrapper .owl-nav {
    width: 100%;
    top: 62%; }
    .slider__main__wrapper .owl-nav .owl-prev {
      left: 15px; }
    .slider__main__wrapper .owl-nav .owl-next {
      right: 15px; }
  .rectangle__top,
  .rectangle__bottom {
    display: none; }
  .title__page .h4 {
    font-size: 28px; }
  .novelties__wrapper .owl-dots {
    position: absolute;
    width: 100%;
    z-index: -1; }
  .production__main__wrapper .production__main__column:last-child {
    display: none; }
  .production__main__column {
    width: 31.5%; }
    .production__main__column + .production__main__column {
      margin-left: 2.5%; }
  .advantages__main:after {
    display: none; }
  .advantages__main__img {
    width: 34%;
    top: 43%;
    left: 48%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .advantages__main__left,
  .advantages__main__right {
    width: 47%; }
  .advantages__main__item {
    font-size: 14px; }
    .advantages__main__item.personal {
      width: 290px; }
    .advantages__main__item.delivery {
      width: 250px; }
    .advantages__main__item.price {
      width: 240px; }
    .advantages__main__item.model {
      width: 290px; }
    .advantages__main__item.quality {
      width: 300px; }
    .advantages__main__item.zayavka {
      width: 250px; }
    .advantages__main__item.minimum {
      width: 235px; }
    .advantages__main__item.zakaz {
      width: 275px; }
  .consultation__main {
    height: 275px; }
  .advantages__main__item .img__wrap {
    width: 68px;
    height: 68px; }
    .advantages__main__item .img__wrap i {
      font-size: 30px; }
  .politics__confid {
    margin-top: 15px; }
  .form__consultation__wrapper {
    text-align: center;
    margin: 30px 0; }
  .form__block__inline {
    width: 36%; }
    .form__block__inline + .form__block__inline {
      margin-left: 1%; }
    .form__block__inline.btn__send {
      width: 167px; }
      .form__block__inline.btn__send .btn {
        padding-top: 11px;
        padding-bottom: 11px; }
    .form__block__inline input {
      padding-top: 11px;
      padding-bottom: 11px; }
  .consultation__main .subtitle__page {
    margin-top: 15px; }
  .footer__logo__info {
    display: none; }
  .footer__data {
    width: 28%; }
  .footer__menu {
    width: 71%; }
    .footer__menu li {
      font-size: 14px;
      width: 33%; }
  .footer__data .btn {
    font-size: 14px;
    width: 158px;
    padding-top: 7px;
    padding-bottom: 7px; }
  .footer__data__phone a {
    font-size: 20px; }
  .footer__data__place {
    font-size: 14px; }
  .footer__data {
    border-left: 1px solid rgba(248, 248, 248, 0.22); }
  .mobile__copy__info {
    display: block;
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: center; }
    .mobile__copy__info p {
      font-size: 12px;
      color: #adadad; }
    .mobile__copy__info p,
    .mobile__copy__info .social__footer {
      display: inline-block;
      vertical-align: middle;
      margin: 0; }
    .mobile__copy__info .social__footer {
      margin-left: 20px; }
  .footer__politics {
    padding: 10px 0; }
    .footer__politics a {
      font-size: 14px; }
  .social__footer a {
    font-size: 19px; }
  .mobile__copy__info {
    padding-bottom: 10px; }
  .anchor {
    right: 2%; }
  footer {
    padding-top: 30px; }
  .consultation__main .subtitle__page {
    font-size: 14px; }
  .advantages__main__left .advantages__main__item,
  .advantages__main__right .advantages__main__item {
    margin-bottom: 30px; }
  .advantages__main__wrapper {
    margin-top: 30px; }
  .production__main {
    padding-bottom: 25px; }
  .see__more__btn .btn {
    width: 181px;
    font-size: 14px;
    padding-top: 7px;
    padding-bottom: 7px; }
  .production__main__item__content > span {
    font-size: 16px; }
  .novelties__wrapper {
    margin-top: 20px; }
  .btn {
    width: 140px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .slider__item__btn .btn {
    width: 183px; }
  .hidden__info__basket {
    left: auto;
    right: 0; }
  .header__basket__link:hover .hidden__info__basket {
    left: auto; }
  .header__menu {
    z-index: 1; }
  .header__logo:after {
    bottom: -10px;
    width: 120%;
    left: -10%;
    right: -10%; }
  .header__information__basket .header__basket {
    display: none; }
  .header__mobile__menu {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #eecfba;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px 40px;
    top: 100%; }
    .header__mobile__menu .name__menu__title {
      margin: 0; }
    .header__mobile__menu ul {
      overflow: hidden;
      margin-top: 10px; }
      .header__mobile__menu ul a {
        border-bottom: none;
        color: #1f2d30; }
    .header__mobile__menu li {
      position: relative;
      padding-left: 15px;
      float: left;
      width: 33.3%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 7px; }
      .header__mobile__menu li:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        width: 3px;
        height: 3px;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: #1f2d30; }
  .header__mobile__menu__list a {
    border-bottom: none; }
  .mobile__left__menu {
    display: block; }
  .header__mobile__menu li {
    padding-left: 10px; }
  .novelties__main {
    padding-bottom: 0; }
  .subtitle__page {
    margin-top: 15px; }
  .production__main__wrapper {
    margin-top: 30px;
    padding-bottom: 30px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 760px) {
  .header__mobile__menu {
    padding: 5px 10px 25px; }
    .header__mobile__menu ul {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2; }
    .header__mobile__menu li {
      width: 100%;
      float: none;
      line-height: 17px;
      margin-bottom: 15px; }
  .header__search {
    padding: 20px 10px;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .header__seearch {
    top: 3px;
    position: relative; }
  .subtitle__page {
    margin-top: 15px; }
  .production__main__wrapper {
    margin-top: 20px; }
  .title__page .h4 {
    font-size: 22px; }
  .production__main__column {
    width: 48%; }
    .production__main__column + .production__main__column {
      margin-left: 4%; }
    .production__main__column:nth-child(3) {
      display: none; }
  .small__height {
    height: 154px; }
  .big__height {
    height: 219px; }
  .production__main__item + .production__main__item {
    margin-top: 10px; }
  .production__main__item__wrapper .icon-decor {
    font-size: 10px; }
  .production__main__item.top .production__main__item__content {
    top: 35px; }
  .production__main__item.bottom .production__main__item__content {
    bottom: 45px; }
  .production__main__item__link ul {
    left: 15px;
    right: 15px; }
  .production__main__item__link a {
    text-decoration: underline; }
    .production__main__item__link a:after {
      display: none; }
  .hidden__text {
    display: none; }
  .see__more {
    display: block; }
    .see__more:hover {
      border-color: #fff; }
  .production__main__wrapper {
    padding-bottom: 25px; }
  .production__main {
    padding-bottom: 35px; }
  .see__more__btn {
    margin-bottom: 15px; }
  .production__main__bottom__text p {
    margin: 5px 0; }
  .subtitle__page {
    text-align: left; }
  .advantages__main__img {
    display: none; }
  .advantages__main__left,
  .advantages__main__right {
    width: 100%; }
    .advantages__main__left .advantages__main__item,
    .advantages__main__right .advantages__main__item {
      width: 100%; }
  .advantages__main__left .advantages__main__item .img__wrap,
  .advantages__main__left .advantages__main__item .text {
    float: none;
    top: auto; }
  .advantages__main__left .advantages__main__item,
  .advantages__main__right .advantages__main__item {
    height: auto;
    margin-bottom: 20px; }
  .advantages__main__right .advantages__main__item .img__wrap,
  .advantages__main__right .advantages__main__item .text {
    float: none;
    text-align: left; }
  .advantages__main__item .text {
    width: 76%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px; }
  .advantages__main__item p br {
    display: none; }
  .consultation__main {
    height: auto;
    padding: 15px 0; }
    .consultation__main .politics__confid {
      line-height: 18px; }
    .consultation__main .subtitle__page {
      text-align: center;
      line-height: 20px; }
    .consultation__main .form__block__inline {
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .consultation__main .form__block__inline + .form__block__inline {
        margin-left: 0;
        margin-top: 30px; }
  .footer__menu {
    width: 100%; }
    .footer__menu li {
      width: 50%;
      margin-bottom: 0; }
  .footer__data {
    width: 100%;
    float: left;
    text-align: left;
    border-left: none;
    margin-top: 15px; }
  .footer__data__phone {
    margin: 15px 0; }
  .footer__data__place {
    margin-top: 15px; }
  .mobile__copy__info {
    text-align: left;
    margin-top: 15px; }
    .mobile__copy__info .social__footer {
      margin-left: 0;
      margin-top: 15px;
      display: block; }
      .mobile__copy__info .social__footer a {
        font-size: 21px; }
  .footer__politics {
    text-align: left; }
  .slider__warning__registr {
    top: 78%; }
  .header__signin,
  .header__time {
    display: none; }
  .header__signin__mobile {
    display: block;
    float: right; }
    .header__signin__mobile .login {
      margin-right: 10px; }
    .header__signin__mobile a {
      color: #000;
      font-size: 18px;
      text-decoration: none; }
      .header__signin__mobile a:hover {
        text-decoration: none; }
  .header__top {
    padding: 5px 0 3px; }
  .header__phone {
    display: none; }
  .header__phone__mobile {
    display: block; }
    .header__phone__mobile p {
      margin: 0; }
    .header__phone__mobile a {
      border-bottom: none;
      color: #1f2d30; }
  .header__information__basket {
    margin-top: 5px;
    position: relative;
    z-index: 5; }
  .header__logo {
    width: 94px; }
  .header__information {
    padding-bottom: 20px; }
  .header__logo {
    top: 50px; }
    .header__logo:after {
      height: 140%;
      width: 130%;
      left: -15%;
      right: -15%; }
  .slider__item__title p {
    font-size: 14px; }
  .slider__item__diskount {
    font-size: 48px; }
  .slider__item__diskount:before {
    font-size: 21px; }
  .slider__main {
    height: 430px; }
  .home__page .slider__item .container {
    padding-top: 170px; }
  .slider__item__btn .btn {
    width: 140px; }
  .slider__main__wrapper .owl-nav {
    top: 67%; }
  .slider__item__btn {
    margin-top: 20px; }
  .slider__item__title {
    margin-bottom: 35px; }
  .login__basket .header__btn span {
    display: none; }
  .login__basket .header__btn i {
    display: block;
    font-size: 22px; }
  .login__basket .header__btn .btn {
    width: auto;
    border: none; }
  .login__basket .header__basket {
    display: inline-block;
    margin-left: 5px; }
    .login__basket .header__basket .basket__text,
    .login__basket .header__basket .basket__count {
      display: inline-block;
      vertical-align: middle; }
      .login__basket .header__basket .basket__text span,
      .login__basket .header__basket .basket__count span {
        display: none; }
    .login__basket .header__basket .basket__count {
      padding-bottom: 0;
      padding-left: 3px; }
      .login__basket .header__basket .basket__count:before {
        display: none; }
  .container {
    padding: 0 5px; }
  footer {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px; }
  .novelties__main {
    padding-bottom: 30px; }
  .production__main .subtitle__page {
    text-align: center; }
  .footer__politics {
    border-top: none;
    position: relative;
    padding-top: 8px;
    padding-bottom: 12px; }
    .footer__politics:before {
      content: '';
      position: absolute;
      left: -10px;
      right: -10px;
      top: 0;
      border: 1px solid rgba(255, 255, 255, 0.2); } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .novelties__wrapper .owl-dots {
    margin-top: -10px; }
  .novelties__wrapper .owl-stage-outer {
    padding-bottom: 35px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }
