.advantages__main
	padding: 40px 0
	background: rgba(233, 233, 235, .38)
	.subtitle__page
		max-width: 700px


.advantages__main__wrapper
	position: relative


.advantages__main__img
	position: absolute
	left: 45%
	transform: translateX(-50%)


.advantages__main__item
	color: #b46c64
	.text
		p
			line-height: 24px
	.img__wrap,
	.text
		display: inline-block
		vertical-align: middle
	.img__wrap
		width: 86px
		height: 86px
		position: relative
		border: 1px dashed #af5f56
		border-radius: 50%
		box-sizing: border-box
		i
			position: absolute
			left: 50%
			top: 50%
			transform: translate(-50%,-50%)
			font-size: 40px



.advantages__main__left,
.advantages__main__right
	width: 380px

.advantages__main__left
	float: left

.advantages__main__right
	float: right


