.noveltie__item
	text-align: center
	background-color: #fff
	box-shadow: 1px 5px 15px 1px rgba(0, 0, 0, 0.14)
	border-radius: 5px
	border: 1px solid #eecfba
	position: relative

.noveltie__item__link
	position: absolute
	left: 0
	right: 0
	top: 0
	bottom: 0
	border-bottom: none
.title__page
	text-align: center
	.h4
		font-size: 32px
		text-transform: uppercase
		color: #1d1d1d
		margin: 15px 0
		font-family: 'DejaVuSerifCondensed'
		line-height: 32px

.noveltie__item__btn
	margin-bottom: 15px
	.btn
		display: inline-block

.noveltie__item__content
	padding: 10px
	border-top: 8px solid #eecfba

.novelties__main
	padding: 30px 0
	.owl-dots
		text-align: center
		padding: 15px 0
	.owl-dot
		width: 13px
		height: 13px
		background-color: #bfbfbf
		border-radius: 50%
		display: inline-block
		vertical-align: middle
		&.active
			background-color: #ca202e
		&+.owl-dot
			margin-left: 6px




.noveltie__item__img
	height: 175px
	overflow: hidden
	img
		display: block


.noveltie__item__title
	margin: 10px 0

.noveltie__item__price
	margin: 20px 0


.novelties__wrapper
	margin: 45px 0







